
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin2Layout.cshtml";
}

<h2>Reportes</h2>

<br />
<a href="~/Reports/AppReportViewerEmpleados.aspx">Reporte Oficiales...</a>
<br />
<a href="~/Reports/AppReportViewerSupervisores.aspx">Reporte Supervisores...</a>
<br />
<a href="~/Reports/AppReportViewerBases.aspx">Reporte Bases...</a>