@{
    ViewBag.Title = "Sobre Nosotros...";
}
<h2>@ViewBag.Title.</h2>

<div class="container">
    <div class="row">

        <div class="col-md-6 col-md-offset-4" style="margin-bottom:10px;">
            <h2>Seguridad Sarobi</h2>
            <h4>A la Vanguardia en Seguridad</h4>
        </div>

        <img src="~/Content/logo/slider2.jpg" class="img-thumbnail col-md-offset-4" width="304" height="300" />

        <div class="col-md-6 col-md-offset-3" style="margin-top:40px;">
            <p>
                SAROBI INTERNACIONAL es una empresa que tiene más de 10 años de ofrecer en el mercado nacional
                servicios de seguridad privada para varios sectores, con especialidad en Condominios Residenciales
                y Centros Comerciales. Nuestra compañía está debidamente inscrita según las leyes de la República de
                Costa Rica y  cuenta con su representación legal a través de la cédula jurídica número 3-101-414984,
                bajo Sarobi Internacional Sociedad Anónima.
            </p>
        </div>
    </div>

    <br /><br />

    <div class="row" style="text-align:center;">

        <div class="col-md-6 ">
            <h4><strong>Misión</strong></h4>
            <p>
                Ofrecer un servicio personalizado profesional, de calidad y con valor agregado en aspectos de seguridad,
                protección y prevención, con la finalidad de salvaguardar el patrimonio y la integridad de cada uno de
                nuestros clientes.
            </p>
        </div>

        <div class="col-md-6">
            <h4><strong>Visión</strong></h4>
            <p>
                Ser la empresa líder y de mayor prestigio en soluciones integrales de seguridad en Costa Rica,
                proporcionando un servicio de alta calidad, cumpliendo con la ley, en aporte al país y aportando
                a la satisfacción plena de nuestros clientes.
            </p>
        </div>
    </div>
</div>
