@model IEnumerable<sarobi1._1.ViewModels.DashboardOficial>
 
@{ 
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Admin2Layout.cshtml";
}

<h2>Dashboard </h2>

<br /><br />

<div class="col-lg-3 col-md-6">
    <div class="panel panel-success">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-bar-chart-o fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div><strong>Total de Oficiales</strong></div>
                    <br />
                    <div><span id="lblOficiales" style="font-size:25px;"></span></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-3 col-md-6">
    <div class="panel panel-danger">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-tasks fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div><strong>Total de Supervisores</strong></div>
                    <br />
                    <div><span id="lblSupervisores" style="font-size:25px;"></span></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-3 col-md-6">
    <div class="panel panel-warning">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-university fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div><strong>Total de Bases</strong></div>
                    <br />
                    <div><span id="lblBases" style="font-size:25px;"></span></div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<span>Bases Activas</span> 
<span id="lblBasesActivas"></span>*@

@section Scripts{  
<script src="~/Scripts/jquery-2.2.4.min.js"></script>
<script>
    $(document).ready(function () {


    $(function () {
        $.ajax({
            type: "GET",
            url: "/Home/GetCountOficiales",
            datatype: "Json",
            success: function (message) { },
            complete: function (message) {
                $('#lblOficiales').text(message.responseText.replace(/\"OficialesCount":/g, "").replace(/\[/g, "").replace(/\]/g, "").replace(/\{/g, "").replace(/\}/g, ""));
            }
        });
    });


    $(function () {
        $.ajax({
            type: "GET",
            url: "/Home/GetCountSupervisores",
            datatype: "Json",
            success: function(message) {},
            complete: function(message) 
            {
                $('#lblSupervisores').text(message.responseText.replace(/\"SupervisoresCount":/g, "").replace(/\[/g, "").replace(/\]/g, "").replace(/\{/g, "").replace(/\}/g, ""));
            }
        });
    });

    $(function () {
        $.ajax({
            type: "GET",
            url: "/Home/GetCountBases",
            datatype: "Json",
            success: function (message) { },
            complete: function (message) {
                $('#lblBases').text(message.responseText.replace(/\"BasesCount":/g, "").replace(/\[/g, "").replace(/\]/g, "").replace(/\{/g, "").replace(/\}/g, ""));
            }
        });
    });

    //$(function () {
    //    $.ajax({
    //        type: "GET",
    //        url: "/Home/GetBasesActivas",
    //        datatype: "Json",
    //        success: function (message) { },
    //        complete: function (message) {
    //            $('#lblBasesActivas').text(message.responseText);
    //        }
    //    });
    //});

    });
</script>
}