@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="margin-top:10px;">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active" style="height:380px;">
            <img src="~/Content/logo/slider1.jpg" alt="..." width="100%">
        </div>
        <div class="item" style="height:380px;">
            <img src="~/Content/logo/slider2.jpg" alt="..." width="100%">
        </div>

    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row" style="margin-top:25px;">
    <div class="col-md-4" style="text-align:center;">
        <h2>Supervisión</h2>
        <p>
            Contamos con jefe de operaciones que controla los trabajos de supervisión de los elementos designados para esta tarea.
        </p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4" style="text-align:center;">
        <h2>Vigilancia</h2>
        <p>
            Estamos dotados de una central de radio que opera los 365 días del año, los 7 días de la semana,
            las 24 horas del día, para un óptimo desempeño de las labores de seguridad y vigilancia.
        </p>
        @* <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4" style="text-align:center;">
        <h2>Respuesta Rápida</h2>
        <p>
            Contamos Con vehículos y/o motocicletas de reciente modelo para el traslado de los supervisores
            a los puntos designados para su óptimo chequeo las 24 horas del día los 7 días de la semana.
        </p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>